<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <!-- <div class="student">
    <h3>Name: <%= @student.name %></h3><br>
    <h4>Grade: <%= @student.grade %></h4>
  </div><br> -->

  <h1>Recipes</h1>
  <% @recipes.each do |recipe| %>
    <div class="recipe">
      <p>Name: <%= recipe.name %></p><br>
      <p>Ingredients: <%= recipe.ingredients %></p><br>
      <p>Cook Time: <%= recipe.cook_time %></p><br>
    </div><br>

  </body>
</html>
